# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
/test-reports

# production
/build*

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
tmp
abc
.vscode/*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#src/**/*.css
test-report/*
package-lock.json
test/e2e/cypress/screenshots/*
test/e2e/cypress/videos/*
.yarn-local-mirror*
